.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}
body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-attachment: fixed;
        }
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
.cover-container {
  max-width: 42em;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .7);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: .75rem; }
.rounded-6 { border-radius: 1rem; }

.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
  background-image: background: rgba(0, 170, 238, 0.9);
}
.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog {
  width: 380px;
  background-image: background: rgba(0, 170, 238, 0.9);
}

.border-right { border-right: 1px solid #eee; }

.modal-tour .modal-dialog {
  width: 380px;
  background-image: background: rgba(0, 170, 238, 0.9);
}

.modal-content {
  background: background: rgba(0, 170, 238, 0.9);
}
.marquee{
width:100%;
white-space:nowrap;
overflow:hidden;
}

.marquee span {
font-size:24px;
display:inline-block;
padding-left:100%;
-webkit-animation: marquee 15s infinite linear;
animation: marquee 15s infinite linear;
}

@-webkit-keyframes marquee {
0%{-webkit-transform: translate(0, 0);}
100%{-webkit-transform: translate(-100%, 0);}
}
@keyframes marquee{
0%{transform: translate(0, 0);}
100%{transform: translate(-100%, 0)}
}
